<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <title>A First App</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  >
  <link
    rel="stylesheet"
    href="styles.css"
  />
</head>

<body>
  <div
    class="d-flex flex-column align-items-center "
    id='content'
  >
    <div
      class="d-flex align-items-center bg-dark p-3"
      style='width: 100%;'
    >
      <div
        class='d-flex justify-content-center align-items-center rounded'
        style='width: 200px;'
      >
        <span class='text-bold p-2 text-white'>Simple - CRM</span>
      </div>
    </div>


    <button
      type="button"
      class="btn btn-primary m-3 btn-lg"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Add User
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      ref="modal"
    >
      <div
        class="modal-dialog"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
            >Enter your Data</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form @submit.prevent="getFormValues">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    id="basic-addon1"
                  >@</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Vor-Nachname"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  v-model="fullName"
                >
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    id="basic-addon1"
                  >@</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Adresse"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  v-model="adress"
                >
              </div>

              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Recipient's username"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                  v-model="email"
                >
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    id="basic-addon2"
                  >@example.com</span>
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="getFormValues()"
              data-dismiss="modal"
            >Add</button>
          </div>
        </div>
      </div>
      </form>
    </div>


    <table
      class="table table-dark mx-auto table-bg"
      style='width: 80%;'
    >
      <thead>
        <tr class='bg-dark'>
          <th
            scope="col"
            class='text-center'
          >User</th>
          <th scope="col">Vor-Nachname</th>
          <th scope="col">Adresse</th>
          <th scope="col">E-Mail</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for='(data, index ) in userData'
          :class="{bgRed:data.marked}"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Tooltip on top"
        >
          <th
            scope="row"
            class='text-center'
          >{{ index + 1 }}</th>
          <td @click="markUser(data)">{{ data.fullName }}</td>
          <td @click="markUser(data)">{{ data.adress }}</td>
          <td @click="markUser(data)">{{ data.email }}</td>

          <!-- <td><i
              class="bi bi-pen"
              @click="editUser(data)"
            ></i></td> -->

          <td class='text-center'><i
              class="bi bi-trash icon-black"
              @click='deleteUser(index)'
            ></i></td>
        </tr>

      </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
      <p
        class='m-0 p-3 bg-info rounded text-white'
        v-if="userData.length === 0"
      >keine Users Vorhanden !</p>
    </div>
  </div>







  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>

</html>